@model BackpackingBudget.Models.ViewModels.TotalBudgetViewModel

@{
    ViewData["Title"] = "Dashboard";
}


<div class="row">
    <div class="col-xs-8 col-xl-5 col-lg-6 col-md-8 col-sm-8">
        <h1>@Model.Budget.Name</h1>
    </div>
    <div class="col-xs-8 col-xl-5 col-lg-6 col-md-8 col-sm-8 align-right">
        <h3 class="header-style ">@Model.Budget.StartDate.ToLongDateString() - @Model.Budget.EndDateExists().ToLongDateString()</h3>
    </div>
</div>

<hr />

<div>
    <div id="dashboardRow" class="row">

        <div class="col-xs-8 col-xl-3 col-lg-3 col-md-6 col-sm-6 card-container">
            <div class="e-card card">
                <div class="e-card-content">
                    <h3 class="card-value center-align" id="totalBudget">@Model.Budget.BudgetAmount.ToString("C") </h3>
                    <span class="card-text center-align">Budget</span>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xl-3 col-lg-3 col-md-6 col-sm-6 card-container">
            <div class="e-card card">
                <div class="e-card-content">
                    <h3 class="card-value center-align" id="totalExpense">@Model.AmountSpent.ToString("C") </h3>
                    <span class="card-text center-align">Total Spent</span>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xl-3 col-lg-3 col-md-6 col-sm-6 card-container">
            <div class="e-card card">
                <div class="e-card-content">
                    <h3 class="card-value center-align" id="balance">@Model.AmountRemaining().ToString("C") </h3>
                    <span class="card-text center-align">Current Balance</span>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xl-3 col-lg-3 col-md-6 col-sm-6 card-container">
            <div class="e-card card">
                <div class="e-card-content">
                    <h3 class="card-value center-align" id="average">@Model.ActualPerDayAverage().ToString("C")</h3>
                    <span class="card-text center-align">Actual per day spending</span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add Expense Items
</button>
<hr />
@*<div>Estimated per Day @Model.EstimatedPerDayAverage() </div>*@


<div>
    <div id="dashboardRow" class="row">

        <div class="col-xs-8 col-xl-6 col-lg-6 col-md-8 col-sm-8  card-container">
            <div class="e-card card">
                <div class="e-card-content">
                    <h3 class="card-value" id="daysLeft">@Model.DaysLeft()  </h3>
                    <span class="card-text">Updated Days Remaining</span>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-xl-6 col-lg-6 col-md-8 col-sm-8 card-container">
            <div class="e-card card">
                <div class="e-card-content">
                    <h3 class="card-value" id="returnDate">@Model.EstimatedReturnDate()</h3>
                    <span class="card-text">Return date at current spending rate</span>
                </div>
            </div>
        </div>

    </div>
</div>
<hr />

@{
    await Html.RenderPartialAsync("BarChart.cshtml", Model);
}





<div class='row'>

    <!-- Basic Card Layout  -->
    @foreach (var bc in Model.CategoryViewModels)
    {
        <div class="col-xs-10 col-xl-4 col-lg-6 col-md-8 col-sm-10 card-container">
            <div class="e-card card">
                <div class="e-card-content">
                    <h3 class="e-card-header-title center-align">@bc.BudgetCategory.Name Totals</h3>
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 center-align">
                        <div>
                            <a id="anchorbtn" class="e-btn e-primary" asp-controller="BudgetCategories" asp-action="Details" asp-route-id="@bc.BudgetCategory.BudgetCategoryId">@bc.BudgetCategory.Name Item Details</a>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>Original Budget: @bc.BudgetCategory.BudgetPerDay.ToString("C") per day</li>
                    <li>Total Spent on @bc.BudgetCategory.Name: @bc.TotalSpent.ToString("C") </li>
                    @*<li>Total Estimated: @bc.TotalEstimated().ToString("C") </li>*@
                    <li>Daily average so far: @bc.AveragePerDay() </li>
                    <li>Daily average remaining: @bc.AveragePerDayRemaining() </li>
                </ul>
            </div>

        </div>

    }

</div>

@{
    await Html.RenderPartialAsync("PieChart.cshtml", Model);
}



@{
    await Html.RenderPartialAsync("~/Views/Expenses/AddExpense.cshtml", Model);
}




