@model BackpackingBudget.Models.BudgetCategory

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Budget.Name</h1>


    <h4>@Model.Name</h4>
    <hr />
    <div class="row">
        <div class = "col-sm-4">
            @Html.DisplayNameFor(model => model.BudgetPerDay)
        </div>
        <div class = "col-sm-6">
            @Html.DisplayFor(model => model.BudgetPerDay)
        </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Cost
            </th>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BudgetItem)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Expenses" asp-route-id="@item.BudgetItemId">Remove expense from budget</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Dashboard">Back to Budget</a>
</div>
